*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/dictionaries/*.xml
/.idea/tasks.xml
/.idea/libraries
/.idea
.externalNativeBuild
